# env / python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.venv/
venv/
.env
.env.*

# system
.DS_Store
Thumbs.db

# outputs
checkpoints/
inference_results/
logs/
wandb/
submissions/
output/
outputs/
runs/

# trash / temp
_TRASH_DO_NOT_DELETE_YET/
logs/_archive/

# large archives
*.zip
*.tar
*.tar.gz
*.tgz
*.7z

# editor
.vscode/
.idea/
